@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #aaa;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --lcon-colour: #E98532;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.sidebar .side-menu li.active a{
    color: var(--lcon-colour);
}


.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 10px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}
.content main .header .report input{
    background-color: transparent;
    outline: none;
    border: none;
}

.content main .header .report, .impormation a,.newleads-btn{
    height: 36px;
    padding: 0 16px;
    border-radius: 10px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
    cursor: pointer;
}

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    /* flex-basis: 500px; */
}

.content main .bottom-data .active-new-lead{
    flex-basis: 500px; 
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.Fresh{
    background: var(--success);
}
.content main .bottom-data .orders table tr td .status.Callback{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.DND{
    background: var(--danger);
}

.content main .bottom-data .orders table tr td .status.Followup{
    background: #D6D46D;
}

.content main .bottom-data .orders table tr td .status.Proposed{
    background: #4BFC96;
}

.content main .bottom-data .orders table tr td .status.Moved{
    background: #7752FE;
}

.content main .bottom-data .orders table tr td .status.Hold{
    background: #739072;
}


.content main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list{
    width: 100%;
}

.content main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.content main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}

/* ------------------------------------------------------------------ */

.lead-and-csv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leads-container{
    height: 85vh;
    flex-basis: 300px !important;
    flex-grow:0 !important;
}

.leads-first-name{
    background-color: var(--grey);
    padding: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bxplus i{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50%;
    color: var(--light);
}

.leads-edit-name{
    display: flex;
    align-items: center;
    
}
.edit-details{
    display: flex;
    align-items: end;
    justify-content: space-between;
    min-height: 50px;
}
.edit-details .form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.edit-details .form-input input, select{
    height: 40px;
    background-color: var(--grey);
    outline: none;
    border: none;
    outline: 1px solid var(--grey);
    border-radius: 5px;
    padding: 0 10px;
    color: var(--dark);
    margin-top: 0.3rem;
}
.edit-detail{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 2rem;
}
.edit-detail .form-input{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.edit-detail .form-input textarea, input{
    background-color: var(--grey);
    outline: none;
    border: none;
    outline: 1px solid var(--grey);
    border-radius: 5px;
    padding: 10px;
    color: var(--dark);
    margin-top: 0.3rem;
}
.edit-detail .form-input .label{
    font-size: small;
}
.edit-detail .form-input input{
    background-color: var(--primary);
}




.leads-container-body{
    display: flex !important;

}
.logo img{
    margin-left: 22px;
    margin-top: 10px;
}
.history .history-of-client{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
.leads-name{
    width: 7rem;
    overflow-x: hidden;
}
.bxplu i{
    background-color: var(--grey);
    padding: 10px;
    border-radius: 50%;
    color: var(--dark);
}
.dateonly{
    font-size: small;
}
.impormation,.remark{
    display: flex;
    width: 33.3333%;
    padding-left: 5px;
    overflow-x: hidden;
    align-items: center;
}
.remark{
    width: 100%;
}
.impormation p,.remark p{
    font-size: small;
}

.impormation i,.remark i{
    margin-right: 10px;
}
.impormation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px !important;
    border-bottom: 1px solid var(--grey);
    padding:0 0 10px 0;
}
.content main .bottom-data .call-container{
    width: fit-content;
    flex-grow: 0 !important;
}
.dialpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 200px;
    margin: 0 auto;
}

.dialpad button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.call-button {
    grid-column: span 3;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.container-hidden{
    display: none !important;
}

.disabled{
    background-color: transparent !important; 
    outline: none !important; 
    border: none !important;
    padding: 0 !important;
}

.impormation a{
    background-color: var(--primary);
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: var(--light);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    background-color: var(--light);
    width: 100vw;
}
.drop-container input{
    background-color: var(--light);
}
.drop-container form .upload{
    background-color: var(--primary);
}
.drop-container:hover {
  background: var(--light);
  border-color: var(--dark);
}

.drop-container:hover .drop-title {
  color: var(--dark);
}

.drop-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}  


/* ----------------------------------------------- */
/* ---------------NOTIFICATION-------------------- */
/* ----------------------------------------------- */

.content .notification{
    background-color: var(--light);
    position: absolute;
    flex-grow: 1;
    border-radius: 15px;
    width: 280px;
    padding: 20px;
    color: var(--dark);
    top: -100vh;
    font-size: medium;
}
.content  .show{
    right: -150px;
    top: 41px;
}
.content .notification h3{
font-size: small;
}
.content .notification .tickets{
    width: 100%;
}
.content .notification .tickets tbody tr td{
    display: flex;
    align-items: center;
}
.content .notification .tickets tbody tr td p{
    margin: 5px;
}
.content .notification .tickets .notification-btns{
    display: flex;
    align-items: center;justify-content: end;
    font-size: small;
    margin-top: 5px;
}
.content .notification .tickets .notification-btns td{
    background-color: var(--primary);
    margin: 5px;
    padding: 5px 15px;
    border-radius: 30px;
    color: var(--light);
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}
.content .notification .tickets .notification-btns td:last-child{
    background-color: var(--danger);
}


/* ------------------------------------------------------------ */
/* ---------------------------LOGIN CSS------------------------ */
/* ------------------------------------------------------------ */

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.inner-container{
    background-color: var(--light-primary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    padding: 20px;
}
.login-container .inner-container .login-cantant img{
    margin-bottom: 20px;
}
.login-container .inner-container .login-cantant p{
    
    line-height: 25px;
}
.inner-container .login-cantant{
    margin: 20px;
}
.login-container form{
    background-color: var(--light);
    padding: 25px;
    border-radius: 10px;
}
.login-container form h1{
    color: var(--primary);
}

.login-container form .form-outline{
    width: 300px;
    color: var(--dark);
    font-size: medium;
    margin-top: 20px;
}
.login-container form .form-outline input{
    background-color: var(--grey);
    color: var(--dark);
    width: 100%;
    font-size: medium;
}
.login-container form .form-outline p{
    color: var(--danger);
    font-size: small;
    margin-top: 5px;
}
.eye-container{
    position: relative;
}
.eye-container i{
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.submit-btn{
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--dark);
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.forgotpassword{
    margin-top: 10px;
    text-align: end;
}

.login-cantant{
    max-width: 500px;
}



















@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        width: fit-content;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

    .lead-and-csv{
        display: flex !important;
        flex-direction: column !important;
        align-items: start;
    }
    .edit-details,.edit-detail{
        display: block;
    }
}



::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 2rem;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:transparent;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color:transparent;
  }
  ::-webkit-scrollbar:horizontal{
    width: 10px;
    height: 8px;
  }
  ::-webkit-scrollbar-track:horizontal{
    height:8px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }