{% extends 'main.html' %}

{% block title %}
    Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}
    {% include 'inc/sidebar.html' %}
    <div class="content">
        {% include 'inc/navbar.html' %}

        <main>
            <div class="header">
                <div class="left">
                    <h1>Contaicts</h1>
                </div>
            </div>
            <div class="container">
            <div class="bottom-data">
                <div class="orders leads-container call-container">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom-data">
                <div class="orders leads-container call-container">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="leads-first-name">JD</p>
                                    <div class="leads-name">
                                        <p>John Doe</p>
                                        <p class="dateonly">91-987654321</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom-data">
                <div class="orders call-container">
                    <div class="dialpad">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <button>5</button>
                        <button>6</button>
                        <button>7</button>
                        <button>8</button>
                        <button>9</button>
                        <button>*</button>
                        <button>0</button>
                        <button>#</button>
                        <button class="call-button">Call</button>
                </div>
            </div>
        </div>
        </main>

    </div>
{% endblock %}

