{% extends 'main.html' %}

{% block title %}
    Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}
    {% include 'inc/sidebar.html' %}
    <div class="content">
        {% include 'inc/navbar.html' %}


        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <!-- <ul class="breadcrumb">
                        <li><a href="#">
                                Analytics
                            </a></li>
                        /
                        <li><a href="#" class="active">Shop</a></li>
                    </ul> -->
                </div>
                <!-- <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a> -->
            </div>

            <ul class="insights">
                <li>
                    <i class='bx bx-calendar-check'></i>
                    <span class="info">
                        <h3>
                            {{overall}}
                        </h3>
                        <p>Overall</p>
                    </span>
                </li>
                <li><i class='bx bx-show-alt'></i>
                    <span class="info">
                        <h3>
                            {{todayleads_completed}} / {{today_leads_count}}
                        </h3>
                        <p>Today</p>
                    </span>
                </li>
                <li><i class='bx bx-line-chart'></i>
                    <span class="info">
                        <h3>
                            {{Tomarrowleads_completed}} / {{Tomarrow_leads_count}}
                        </h3>
                        <p>Tomorrow</p>
                    </span>
                </li>
                <li><i class='bx bx-dollar-circle'></i>
                    <span class="info">
                        <h3>
                            {{overall_complited}} / {{overall}}
                        </h3>
                        <p>Completed</p>
                    </span>
                </li>
            </ul>
            {% if lead %}
                <div class="orders" id="last-lead-container">
                    <div class="header header-leads">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <i class='bx bx-receipt'></i>
                            <h3 style="margin-left: 20px;">{{lead.Name}}</h3>
                            
                        </div>
                    </div>
                    <div class="impormation-container" style="justify-content: flex-start;">
                        <div class="impormation">
                            <i class='bx bx-user' ></i><p>
                                {{lead.Name}}
                            
                        </div>
                        <div class="impormation">
                            <i class='bx bx-phone-call'></i><p>
                                {{ lead.Mobile_Number}}
                            </p>
                        </div>
                    </div>
                    <div class="impormation-container">
                        <div class="impormation">
                            <i class='bx bx-location-plus' ></i><p>
                                {{ lead.Location}}

                            </p>
                        </div>
                        <div class="impormation">
                            <i class='bx bxs-business' ></i><p>
                                {{ lead.Business_Name}}

                            </p>
                        </div>
                        <div class="impormation">
                            <i class='bx bxs-business' ></i><p>
                                {{ lead.Business_Type }}

                            </p>
                        </div>
                    </div>
                    <div class="impormation-container">
                        <div class="impormation">
                        <i class='bx bx-phone-call'></i><p>
                            {{  lead.Source }}

                        </p>
                        </div>
                        <div class="impormation">
                            <i class='bx bx-location-plus' ></i><p>
                                {{ lead.Status }}

                            </p>
                        </div>
                        <div class="impormation">
                            <i class='bx bxs-business' ></i><p>
                                {{ lead.Budget }}

                            </p>
                        </div>
                    </div>
                    <div class="impormation-container">
                        <div class="impormation">
                            <i class='bx bx-phone-call'></i><p class="services">
                                {{ lead.Priority }}

                            </p>
                        </div>
                        <div class="impormation">
                            <i class='bx bxs-business' ></i><p>
                                {{lead.Follow_up_date}}

                            </p>
                        </div>
                        <div class="impormation">
                            <i class='bx bx-location-plus' ></i><p>
                                {{lead.Email}}

                            </p>
                        </div>
                    </div>
                    <div class="impormation-container">
                        <div class="remark">
                            <i class='bx bxs-business' ></i><p>
                                {{lead.Services}}
                            
                        </div>
                    </div>
                    <div class="impormation-container">
                        <div class="remark">
                            <i class='bx bxs-business' ></i>
                            <p>
                                {{lead.Remark}}

                            </p>
                        </div>
                        <div class="impormation">
                            <a href="edit" class="report" id="edit">
                                <i class='bx bx-edit-alt'></i>
                                <span>Edit</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if today_leads %}
            <div class="bottom-data">
                <div class="orders today-lead-container">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Today Leads</h3>
                        <!-- <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Order Date</th>
                                <th>Order Date</th>
                                <th>Complany Name</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for lead in today_leads %}
                            <tr>
                                <td>
                                    <p class="leads-first-name">{{ lead.Name|slice:":2"|upper }}</p>
                                    <p>{{lead.Name}}</p>
                                </td>
                                <td>
                                    <p>{{lead.Follow_up_date}}</p>
                                </td>
                                <td>
                                    <p>{{lead.Created_date}}</p>
                                </td>
                                <td>
                                    <p>{{lead.Business_Name}}</p>
                                </td>
                                <td><a href="{% url 'editlead' lead_id=lead.id %}"><span class="status {{lead.Status}} {% if lead.Status == "Call back" %}Callback{% endif %} {% if lead.Status == "Follow Up" %}Followup{% endif %}">{{lead.Status}}</span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                

                <!-- <div class="reminders">
                    <div class="header">
                        <i class='bx bx-note'></i>
                        <h3>Remiders</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-plus'></i>
                    </div>
                    <ul class="task-list">
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Start Our Meeting</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Analyse Our Site</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>Play Footbal</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                    </ul>
                </div> -->


            </div>

        </main>

    </div>
{% endblock %}

