{% extends 'main.html' %}

{% block title %}
    Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}
    {% include 'inc/sidebar.html' %}
    <div class="content">
        {% include 'inc/navbar.html' %}

        <main>
            <div class="header">
                <div class="left lead-and-csv">
                    <a href="/leads"><h1>Leads</h1></a>
                    {% if leads %}
                    <a href="{% url 'download' %}" class="report" id="report">
                        <i class='bx bx-cloud-download'></i>
                        <span>Download CSV</span>
                    </a>
                    {% endif %}
                </div>
                    <form action="#"class="serach-container">
                        <div class="forminput">
                            <input type="search" placeholder="Search...">
                            <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                            <a href="{% url 'filter' %}"><i class='bx bx-filter'></i></a>
                        </div>
                    </form>
                <div class="bottom-data">
                    {% if leads %}
                    <div class="orders leads-container" id="leads-container">
                        <div class="header header-leads">
                            <div>
                                <h3>Recent Leads</h3>
                            </div>
                            <div class="bxplus dropdownmenu {{hidden}}" id="bxplus">
                                <i class='bx bx-plus' ></i>
                            </div>
                        </div>
                        <table>
                            <tbody>
                                {% for lead in leads %}
                                <tr>
                                    <td>
                                        <p class="leads-first-name">{{ lead.Name|slice:":2"|upper }}</p>

                                        <div class="leads-name">
                                            <p>{{ lead.Name }}</p>
                                            <p class="dateonly">{{ lead.Created_date}}</p>
                                        </div>
                                        <a href="{% url 'lead_detail' lead.id %}"><span class="status Completed details">Show</span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="orders" id="view-leads">
                        <div class="header header-leads">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <i class='bx bx-receipt'></i>
                                <h3 style="margin-left: 20px;">{{leadheding}}</h3>
                                
                            </div>
                        </div>
                        <div class="impormation-container" style="justify-content: flex-start;">
                            <div class="impormation">
                                <i class='bx bx-user' ></i><p>
                                    {{ last_lead.Name }}
                                    {{leaddtails.Name}}
                                
                            </div>
                            <div class="impormation">
                                <i class='bx bx-phone-call'></i><p>
                                    {{ last_lead.Mobile_Number}}
                                    {{ leaddtails.Mobile_Number}}
                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="impormation">
                                <i class='bx bx-location-plus' ></i><p>
                                    {{ last_lead.Location}}
                                    {{ leaddtails.Location}}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bxs-business' ></i><p>
                                    {{ last_lead.Business_Name}}
                                    {{ leaddtails.Business_Name}}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bxl-product-hunt'></i><p>
                                    {{ last_lead.Business_Type }}
                                    {{ leaddtails.Business_Type }}

                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="impormation">
                                <i class='bx bx-git-branch'></i><p>
                                {{  last_lead.Source }}
                                {{  leaddtails.Source }}

                            </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-stats'></i><p>
                                    {{ last_lead.Status }}
                                    {{ leaddtails.Status }}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-rupee'></i><p>
                                    {{ last_lead.Budget }}
                                    {{ leaddtails.Budget }}

                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="impormation">
                                <i class='bx bx-highlight'></i><p class="services">
                                    {{ last_lead.Priority }}
                                    {{ leaddtails.Priority }}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-calendar-check' ></i><p>
                                    {{last_lead.Follow_up_date}}
                                    {{leaddtails.Follow_up_date}}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-envelope' ></i><p>
                                    {{last_lead.Email}}
                                    {{leaddtails.Email}}

                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="remark">
                                <ul>
                                    {% for service in services_list %}
                                    <li>{{ service }}</li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="remark">
                                <i class='bx bx-note remark-icon' ></i>
                                <p>
                                    {{last_lead.Remark}}
                                    {{leaddtails.Remark}}

                                </p>
                            </div>
                            {% if leaddtails %}
                            <div class="impormation">
                                <a href="edit" class="report" id="edit">
                                    <i class='bx bx-edit-alt' style="background-color: transparent; padding: 0; margin: 0;"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    {% if lead %}
                    {% else %}

                    {% if lead_contant %}
                    <label for="images" class="drop-container container {{leadheding}}" id="dropcontainer">
                        <span class="drop-title">Drop files here</span>
                        <br><br>
                        <form action="leads/importdata" method="post" enctype="multipart/form-data">
                            {% csrf_token %} 
                                <input type="file" class="form-control p-1" name="ecxelfile" >
                                <input type="submit" class="btn btn-outline-primary w-100" value="Import">
                        </form>
                    </label>

                    
                    <div class="orders" id="leads-big-container">
                        <div class="header header-leads">
                            <div class="leads-edit-name">
                                <i class='bx bx-user' style="margin-right: 1rem;"></i>
                                <h3>New Lead</h3>
                            </div>
                        </div>
                        <form action="newleads" method="POST">
                            {% csrf_token %}
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="Name">
                                </div>
                                <div class="form-input">
                                    <label for="number">Mobile Number</label>
                                    <input type="text" id="number" name="Contact_Number">
                                </div>
                                <div class="form-input">
                                    <label for="b-name">Business Name</label>
                                    <input type="text" id="b-name" name="Business_name">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="b-type">Business Type</label>
                                    <input type="text" id="b-type" name="Bussiness_types">
                                </div>
                                <div class="form-input">
                                    <label for="location">Location</label>
                                    <input type="text" id="location" name="Location">
                                </div>
                                <div class="form-input">
                                    <label for="Budget">Budget</label>
                                    <input type="text" id="Budget" name="Budget">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="fudate">Follow Up Date</label>
                                    <input type="date" id="fudate" name="Followupdate">
                                </div>
                                <div class="form-input">
                                    <label for="cars">Priority</label>

                                    <select name="Priority" id="cars">
                                    <option value="High">High</option>
                                    <option value="Mediom">Mediom</option>
                                    <option value="Low">Low</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="cars">Status</label>

                                    <select name="Status" id="cars">
                                    <option value="Fresh">Fresh</option>
                                    <option value="Call back">Call back</option>
                                    <option value="DND">DND</option>
                                    <option value="Follow Up">Follow Up</option>
                                    <option value="Proposed">Proposed</option>
                                    <option value="Moved">Moved</option>
                                    <option value="Hold">Hold</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="email">Email</label>
                                    <input type="email" value="@gmail.com" id="email" name="Email_id">
                                </div>
                                
                                <div class="form-input">
                                    <label for="cars">Source</label>

                                    <select id="cars" name="Source">
                                        <option>Social Media</option>
                                        <option>Walk In</option>
                                        <option>Reference</option>
                                    </select>
                                </div>
                            </div>

                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="">Services</label>
                                    <ul id="services-list">
                                        <li>Website Development</li>
                                        <li>CRM</li>
                                        <li>Social Media Management</li>
                                        <li>Branding</li>
                                        <li>Digital Marketing</li>
                                        <li>Yet to Confirm</li>
                                        <li id="more-btn">More</li>
                                        <div class="input-container" id="input-container-id">
                                            <label for="more-input">More</label><br>
                                            <input type="text" id="more-input">
                                            <button id="add-service-btn" type="button">Add To Services</button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <!-- Hidden input field to store the selected services -->
                            <input type="hidden" name="selected_services" id="selected-services-input">

                            <div class="edit-detail">                                
                                <div class="form-input">
                                    <label for="Name">Remark</label>
                                    <textarea name="Source_Remarks" id="" cols="30" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="edit-detail">
                                <div class="form-input">
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}



                    {% endif %}
                {% endif %}


                <div class="orders container-hidden" id="leads-big-container">
                    <div class="header header-leads">
                        <div class="leads-edit-name">
                            <i class='bx bx-user' style="margin-right: 1rem;"></i>
                            <h3>New Lead</h3>
                        </div>
                    </div>
                    <form action="newleads" method="POST">
                        {% csrf_token %}
                        <div class="edit-details">
                            <div class="form-input">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="Name">
                            </div>
                            <div class="form-input">
                                <label for="number">Mobile Number</label>
                                <input type="number" id="number" name="Contact_Number">
                            </div>
                            <div class="form-input">
                                <label for="b-name">Business Name</label>
                                <input type="text" id="b-name" name="Business_name">
                            </div>
                        </div>
                        <div class="edit-details">
                            <div class="form-input">
                                <label for="b-type">Business Type</label>
                                <input type="text" id="b-type" name="Bussiness_types">
                            </div>
                            <div class="form-input">
                                <label for="location">Location</label>
                                <input type="text" id="location" name="Location">
                              </div>
                            <div class="form-input">
                                <label for="Budget">Budget</label>
                                <input type="text" id="Budget" name="Budget">
                            </div>
                        </div>
                        <div class="edit-details">
                            <div class="form-input">
                                <label for="fudate">Follow Up Date</label>
                                <input type="date" id="fudate" name="Followupdate">
                            </div>
                            <div class="form-input">
                                <label for="cars">Priority</label>

                                <select name="Priority" id="cars">
                                <option value="High">High</option>
                                <option value="Mediom">Mediom</option>
                                <option value="Low">Low</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="cars">Status</label>

                                <select name="Status" id="cars">
                                <option value="Fresh">Fresh</option>
                                <option value="Call back">Call back</option>
                                <option value="DND">DND</option>
                                <option value="Follow Up">Follow Up</option>
                                <option value="Proposed">Proposed</option>
                                <option value="Moved">Moved</option>
                                <option value="Hold">Hold</option>
                                </select>
                            </div>
                        </div>
                        <div class="edit-details">
                            <div class="form-input">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="Email_id">
                            </div>
                            
                            <div class="form-input">
                                <label for="cars">Source</label>

                                <select id="cars" name="Source">
                                    <option>Social Media</option>
                                    <option>Walk In</option>
                                    <option>Reference</option>
                                </select>
                            </div>
                        </div>
                        <div class="edit-details">
                            <div class="form-input">
                                <label for="">Services</label>
                                <ul id="services-list">
                                    <li>Website Development</li>
                                    <li>CRM</li>
                                    <li>Social Media Management</li>
                                    <li>Branding</li>
                                    <li>Digital Marketing</li>
                                    <li>Yet to Confirm</li>
                                    <li id="more-btn">More</li>
                                </ul>
                                <div class="input-container" id="input-container-id">
                                    <label for="more-input">More</label><br>
                                    <input type="text" id="more-input">
                                    <button id="add-service-btn" type="button">Add To Services</button>
                                </div>
                            </div>
                        </div>
                        <!-- Hidden input field to store the selected services -->
                        <input type="hidden" name="selected_services" id="selected-services-input">


                        <div class="edit-detail">                                
                            <div class="form-input">
                                <label for="Name">Remark</label>
                                <textarea name="Source_Remarks" id="" cols="30" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="edit-detail-btn">
                            <div class="form-input">
                                <input type="submit" value="Add to lead" >
                                <input type="submit" value="Add to customer" >
                                <input type="submit" value="Add to lead" >
                            </div>
                        </div>
                    </form>
                </div>
                
                <label for="images" class="drop-container container-hidden" id="dropcontainer">
                    <span class="drop-title">Drop files here</span>
                    <br><br>
                    <form action="leads/importdata" method="post" enctype="multipart/form-data">
                        {% csrf_token %} 
                            <input type="file" class="form-control p-1" name="ecxelfile" >
                        
                            <input type="submit" class="btn btn-outline-primary w-100" value="Import">
                        
                    </form>
                    
                    
                </label>

                    


                    <!-- -------------------------- -->
                    <!-- -------Edit Lead---------- -->
                    <!-- -------------------------- -->
                    {% if edit_contant %}
                    <div class="orders {{container_hidden}}">
                        <div class="header header-leads">
                            <div class="leads-edit-name">
                                <i class='bx bx-user' style="margin-right: 1rem;"></i>
                                <h3>Edit Lead</h3>
                            </div>
                        </div>
                        <form action="updates" method="POST">
                            {% csrf_token %}
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="Name" value="{{lead.Name}}">
                                </div>
                                <div class="form-input">
                                    <label for="number">Mobile Number</label>
                                    <input type="number" id="number" name="Contact_Number" value="{{lead.Mobile_Number}}">
                                </div>
                                <div class="form-input">
                                    <label for="b-name">Business Name</label>
                                    <input type="text" id="b-name" name="Business_name" value="{{lead.Business_Name}}">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="b-type">Business Type</label>
                                    <input type="text" id="b-type" name="Bussiness_types" value="{{lead.Business_Type}}">
                                </div>
                                <div class="form-input">
                                    <label for="location">Location</label>
                                    <input type="text" id="location" name="Location" value="{{lead.Location}}">
                                </div>
                                <div class="form-input">
                                    <label for="Budget">Budget</label>
                                    <input type="text" id="Budget" name="Budget" value="{{lead.Budget}}">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="fudate">Follow Up Date</label>
                                    <input type="date" id="fudate" name="Followupdate" value="{{ lead.Follow_up_date|date:'Y-m-d' }}">
                                </div>
                                <div class="form-input">
                                    <label for="Priority">Priority</label>
                                    <select name="Priority" id="Priority">
                                        <option value="High" {% if lead.Priority == 'High' %}selected{% endif %}>High</option>
                                        <option value="Medium" {% if lead.Priority == 'Medium' %}selected{% endif %}>Medium</option>
                                        <option value="Low" {% if lead.Priority == 'Low' %}selected{% endif %}>Low</option>
                                    </select>
                                </div>
                                
                                <div class="form-input">
                                    <label for="status">Status</label>

                                    <select name="Status" id="status">
                                        <option value="Fresh" {% if lead.Status == 'Fresh' %}selected{% endif %}>Fresh</option>
                                        <option value="Call back" {% if lead.Status == 'Call back' %}selected{% endif %}>Call back</option>
                                        <option value="DND" {% if lead.Status == 'DND' %}selected{% endif %}>DND</option>
                                        <option value="Follow Up" {% if lead.Status == 'Follow Up' %}selected{% endif %}>Follow Up</option>
                                        <option value="Proposed" {% if lead.Status == 'Proposed' %}selected{% endif %}>Proposed</option>
                                        <option value="Moved" {% if lead.Status == 'Moved' %}selected{% endif %}>Moved</option>
                                        <option value="Hold" {% if lead.Status == 'Hold' %}selected{% endif %}>Hold</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="Email_id" value="{{lead.Email}}">
                                </div>
                                
                                <div class="form-input">
                                    <label for="source">Source</label>
                                    <select id="source" name="Source">
                                        <option value="Social Media" {% if lead.Source == 'Social Media' %}selected{% endif %}>Social Media</option>
                                        <option value="Walk In" {% if lead.Source == 'Walk In' %}selected{% endif %}>Walk In</option>
                                        <option value="Reference" {% if lead.Source == 'Reference' %}selected{% endif %}>Reference</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="">Services</label>
                                    <ul id="services-list">
                                        {% for service in services_list %}
                                            <li>{{ service }}</li>
                                        {% endfor %}
                                        <!-- <li id="more-btn">More</li> -->
                                        <!-- <div class="input-container" id="input-container-id">
                                            <label for="more-input">More</label><br>
                                            <input type="text" id="more-input">
                                            <button id="add-service-btn" type="button">Add To Services</button>
                                        </div> -->
                                    </ul>
                                </div>
                            </div>
                            <!-- Hidden input field to store the selected services -->
                            <!-- <input type="hidden" name="selected_services" id="selected-services-input"> -->
                                                      
                            <div class="edit-detail" style="display: block;">
                                <div class="form-input">
                                    <input type="submit" value="Update">
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if filter_contant %}

            <div class="bottom-data">
                <div class="reminders">
                    <div class="header">
                        <i class='bx bx-note'></i>
                        <h3>Filters</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-plus'></i>
                    </div>
                    <ul class="task-list">
                        <li class="completed" id="filter-busstype">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Business Type</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="busstype-options">
                            <ul>
                                <li>Health care</li>
                                <li>Belding</li>
                                <li>IT Industry</li>
                                <li>Education</li>
                                <li>Others</li>
                            </ul>
                        </div>
                        <li class="completed" id="filter-location">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Location</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="location-options-container">
                            <ul></ul>
                            <input type="text" id="location-options">
                            <button id="add-location-btn">Add location</button>
                        </div>
                        <li class="completed" id="filter-budget">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Budget</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="budget-options-container">
                            <ul>
                                <li>10,000 - 20,000</li>
                                <li>20,000 - 30,000</li>
                                <li>30,000 - 40,000</li>
                                <li>40,000 - 50,000</li>
                                <li>50,000 - 60,000</li>
                                <li>60,000 - 70,000</li>
                                <li>70,000 - 80,000</li>
                                <li>80,000 - 90,000</li>
                                <li>90,000 - 1,00,000</li>
                                <li>1,00,000 - Above</li>
                            </ul>
                        </div>
                        <li class="completed" id="filter-fud">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Follow up date</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="fud-options-container">
                            <ul id="fud-options-list"></ul>
                            <input type="date" id="fud-date-input">
                            <button id="add-fud-btn">Add Date</button>
                        </div>
                        <li class="completed" id="filter-priority">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Ptiority</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="priority-options-container">
                            <ul>
                                <li value="High">High</li>
                                <li value="Medium">Medium</li>
                                <li value="Low">Low</li>
                            </ul>
                        </div>
                        <li class="completed" id="filter-source">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Source</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="source-options-container">
                            <ul>
                                <li>Social Media</li>
                                <li>Walk In</li>
                                <li>Reference</li>
                            </ul>
                        </div>
                        <li class="completed" id="filter-services">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Services</p>
                            </div>
                            <i class='bx bx-plus'></i>
                        </li>
                        <div class="options" id="services-options-container">
                            <ul>
                                <li>Website Development</li>
                                <li>CRM</li>
                                <li>Social Media Management</li>
                                <li>Branding</li>
                                <li>Digital Marketing</li>
                                <li>Yet to Confirm</li>
                                <li>Others</li>
                            </ul>
                        </div>
                    </ul>
                    <button type="submit">Filter a Leads</button>
                </div>
            </div>
            {% endif %}
        </main>
    </div>
    
    
{% endblock %}

