{% extends 'main.html' %}

{% block title %}
    Dashboard | Revaa Degital Solition
{% endblock %}

{% block content %}
    {% include 'inc/sidebar.html' %}
    <div class="content">
        {% include 'inc/navbar.html' %}

        <main>
            <div class="header">
                <div class="left lead-and-csv">
                    <a href="/leads"><h1>Leads</h1></a>
                    {% if leads %}
                    <a href="{% url 'download' %}" class="report" id="report">
                        <i class='bx bx-cloud-download'></i>
                        <span>Download CSV</span>
                    </a>
                    {% endif %}
                </div>
                <div class="bottom-data">
                    {% if leads %}
                    <div class="orders leads-container" id="leads-container">
                        <div class="header header-leads">
                            <div>
                                <h3>Recent Leads</h3>
                            </div>
                            <div class="bxplus dropdownmenu {{hidden}}" id="bxplus">
                                <i class='bx bx-plus' ></i>
                            </div>
                        </div>
                        <table>
                            <tbody>
                                {% for lead in leads %}
                                <tr>
                                    <td>
                                        <p class="leads-first-name">{{ lead.Name|slice:":2"|upper }}</p>

                                        <div class="leads-name">
                                            <p>{{ lead.Name }}</p>
                                            <p class="dateonly">{{ lead.Created_date}}</p>
                                        </div>
                                        <a href="{% url 'lead_detail' lead.id %}"><span class="status Completed details">Show</span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="orders" id="view-leads">
                        <div class="header header-leads">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <i class='bx bx-receipt'></i>
                                <h3 style="margin-left: 20px;">{{leadheding}}</h3>
                                
                            </div>
                        </div>
                        <div class="impormation-container" style="justify-content: flex-start;">
                            <div class="impormation">
                                <i class='bx bx-user' ></i><p>
                                    {{ last_lead.Name }}
                                    {{leaddtails.Name}}
                                
                            </div>
                            <div class="impormation">
                                <i class='bx bx-phone-call'></i><p>
                                    {{ last_lead.Mobile_Number}}
                                    {{ leaddtails.Mobile_Number}}
                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="impormation">
                                <i class='bx bx-location-plus' ></i><p>
                                    {{ last_lead.Location}}
                                    {{ leaddtails.Location}}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bxs-business' ></i><p>
                                    {{ last_lead.Business_Name}}
                                    {{ leaddtails.Business_Name}}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bxl-product-hunt'></i><p>
                                    {{ last_lead.Business_Type }}
                                    {{ leaddtails.Business_Type }}

                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="impormation">
                                <i class='bx bx-git-branch'></i><p>
                                {{  last_lead.Source }}
                                {{  leaddtails.Source }}

                            </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-stats'></i><p>
                                    {{ last_lead.Status }}
                                    {{ leaddtails.Status }}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-rupee'></i><p>
                                    {{ last_lead.Budget }}
                                    {{ leaddtails.Budget }}

                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="impormation">
                                <i class='bx bx-highlight'></i><p class="services">
                                    {{ last_lead.Priority }}
                                    {{ leaddtails.Priority }}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-calendar-check' ></i><p>
                                    {{last_lead.Follow_up_date}}
                                    {{leaddtails.Follow_up_date}}

                                </p>
                            </div>
                            <div class="impormation">
                                <i class='bx bx-envelope' ></i><p>
                                    {{last_lead.Email}}
                                    {{leaddtails.Email}}

                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="remark">
                                <i class='bx bxl-product-hunt'></i>
                                <p>
                                    {{last_lead.Services}}
                                    {{leaddtails.Services}}
                                </p>
                            </div>
                        </div>
                        <div class="impormation-container">
                            <div class="remark">
                                <i class='bx bx-note' ></i>
                                <p>
                                    {{last_lead.Remark}}
                                    {{leaddtails.Remark}}

                                </p>
                            </div>
                            {% if leaddtails %}
                            <div class="impormation">
                                <a href="edit" class="report" id="edit">
                                    <i class='bx bx-edit-alt'></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    {% if lead %}
                    {% else %}
                    <label for="images" class="drop-container container {{leadheding}}" id="dropcontainer">
                        <span class="drop-title">Drop files here</span>
                        <br><br>
                        <form action="leads/importdata" method="post" enctype="multipart/form-data">
                            {% csrf_token %} 
                                <input type="file" class="form-control p-1" name="ecxelfile" >
                                <input type="submit" class="btn btn-outline-primary w-100" value="Import">
                        </form>
                    </label>

                    <div class="orders" id="leads-big-container">
                        <div class="header header-leads">
                            <div class="leads-edit-name">
                                <i class='bx bx-user' style="margin-right: 1rem;"></i>
                                <h3>New Lead</h3>
                            </div>
                        </div>
                        <form action="newleads" method="POST">
                            {% csrf_token %}
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="Name">
                                </div>
                                <div class="form-input">
                                    <label for="number">Mobile Number</label>
                                    <input type="text" id="number" name="Contact_Number">
                                </div>
                                <div class="form-input">
                                    <label for="b-name">Business Name</label>
                                    <input type="text" id="b-name" name="Business_name">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="b-type">Business Type</label>
                                    <input type="text" id="b-type" name="Bussiness_types">
                                </div>
                                <div class="form-input">
                                    <label for="location">Location</label>
                                    <input type="text" id="location" name="Location">
                                </div>
                                <div class="form-input">
                                    <label for="Budget">Budget</label>
                                    <input type="text" id="Budget" name="Budget">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="fudate">Follow Up Date</label>
                                    <input type="date" id="fudate" name="Followupdate">
                                </div>
                                <div class="form-input">
                                    <label for="cars">Priority</label>

                                    <select name="Priority" id="cars">
                                    <option value="High">High</option>
                                    <option value="Mediom">Mediom</option>
                                    <option value="Low">Low</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="cars">Status</label>

                                    <select name="Status" id="cars">
                                    <option value="Fresh">Fresh</option>
                                    <option value="Call back">Call back</option>
                                    <option value="DND">DND</option>
                                    <option value="Follow Up">Follow Up</option>
                                    <option value="Proposed">Proposed</option>
                                    <option value="Moved">Moved</option>
                                    <option value="Hold">Hold</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="Email_id">
                                </div>
                                
                                <div class="form-input">
                                    <label for="cars">Source</label>

                                    <select id="cars" name="Source">
                                        <option>Social Media</option>
                                        <option>Walk In</option>
                                        <option>Reference</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-detail">
                                <div class="form-input">
                                    <label for="Name">Services</label>
                                    <div style="margin-top: 20px;">
                                        <input type="checkbox" id="value1" name="service" value="Website Development">
                                        <label class="label" for="value1">Website Development</label><br>
                                        <input type="checkbox" id="value2" name="service" value="CRM">
                                        <label class="label" for="value2">CRM</label><br>
                                        <input type="checkbox" id="value3" name="service" value="Social Media Management">
                                        <label class="label" for="value3">Social Media Management</label><br>
                                        <input type="checkbox" id="value4" name="service" value="Branding">
                                        <label class="label" for="value4">Branding</label><br>
                                        <input type="checkbox" id="value5" name="service" value="Digital Marketing">
                                        <label class="label" for="value5">Digital Marketing</label><br>
                                        <input type="checkbox" id="value6" name="service" value="Yet to Confirm" checked>
                                        <label class="label" for="value6">Yet to Confirm</label><br>
                                    </div>
                                </div>                                
                                <div class="form-input">
                                    <label for="Name">Remark</label>
                                    <textarea name="Source_Remarks" id="" cols="30" rows="7"></textarea>
                                </div>
                                <div class="form-input">
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>



                    {% endif %}
                {% endif %}


                    <div class="orders container-hidden" id="leads-big-container">
                        <div class="header header-leads">
                            <div class="leads-edit-name">
                                <i class='bx bx-user' style="margin-right: 1rem;"></i>
                                <h3>New Lead</h3>
                            </div>
                        </div>
                        <form action="newleads" method="POST">
                            {% csrf_token %}
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="Name">
                                </div>
                                <div class="form-input">
                                    <label for="number">Mobile Number</label>
                                    <input type="text" id="number" name="Contact_Number">
                                </div>
                                <div class="form-input">
                                    <label for="b-name">Business Name</label>
                                    <input type="text" id="b-name" name="Business_name">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="b-type">Business Type</label>
                                    <input type="text" id="b-type" name="Bussiness_types">
                                </div>
                                <div class="form-input">
                                    <label for="location">Location</label>
                                    <input type="text" id="location" name="Location">
                                </div>
                                <div class="form-input">
                                    <label for="Budget">Budget</label>
                                    <input type="text" id="Budget" name="Budget">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="fudate">Follow Up Date</label>
                                    <input type="date" id="fudate" name="Followupdate">
                                </div>
                                <div class="form-input">
                                    <label for="cars">Priority</label>

                                    <select name="Priority" id="cars">
                                    <option value="High">High</option>
                                    <option value="Mediom">Mediom</option>
                                    <option value="Low">Low</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="cars">Status</label>

                                    <select name="Status" id="cars">
                                    <option value="Fresh">Fresh</option>
                                    <option value="Call back">Call back</option>
                                    <option value="DND">DND</option>
                                    <option value="Follow Up">Follow Up</option>
                                    <option value="Proposed">Proposed</option>
                                    <option value="Moved">Moved</option>
                                    <option value="Hold">Hold</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="Email_id">
                                </div>
                                
                                <div class="form-input">
                                    <label for="cars">Source</label>

                                    <select id="cars" name="Source">
                                        <option>Social Media</option>
                                        <option>Walk In</option>
                                        <option>Reference</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-detail">
                                <div class="form-input">
                                    <label for="Name">Services</label>
                                    <div style="margin-top: 20px;">
                                        <input type="checkbox" id="value1" name="service" value="Website Development">
                                        <label class="label" for="value1">Website Development</label><br>
                                        <input type="checkbox" id="value2" name="service" value="CRM">
                                        <label class="label" for="value2">CRM</label><br>
                                        <input type="checkbox" id="value3" name="service" value="Social Media Management">
                                        <label class="label" for="value3">Social Media Management</label><br>
                                        <input type="checkbox" id="value4" name="service" value="Branding">
                                        <label class="label" for="value4">Branding</label><br>
                                        <input type="checkbox" id="value5" name="service" value="Digital Marketing">
                                        <label class="label" for="value5">Digital Marketing</label><br>
                                        <input type="checkbox" id="value6" name="service" value="Yet to Confirm" checked>
                                        <label class="label" for="value6">Yet to Confirm</label><br>
                                    </div>
                                </div>                                
                                <div class="form-input">
                                    <label for="Name">Remark</label>
                                    <textarea name="Source_Remarks" id="" cols="30" rows="7"></textarea>
                                </div>
                                <div class="form-input">
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <label for="images" class="drop-container container-hidden" id="dropcontainer">
                        <span class="drop-title">Drop files here</span>
                        <br><br>
                        <form action="leads/importdata" method="post" enctype="multipart/form-data">
                            {% csrf_token %} 
                                <input type="file" class="form-control p-1" name="ecxelfile" >
                            
                                <input type="submit" class="btn btn-outline-primary w-100" value="Import">
                            
                        </form>
                        
                        
                    </label>

                    


                    <!-- -------------------------- -->
                    <!-- -------Edit Lead---------- -->
                    <!-- -------------------------- -->
                    
                    <div class="orders {{container_hidden}}">
                        <div class="header header-leads">
                            <div class="leads-edit-name">
                                <i class='bx bx-user' style="margin-right: 1rem;"></i>
                                <h3>Edit Lead</h3>
                            </div>
                        </div>
                        <form action="updates" method="POST">
                            {% csrf_token %}
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="Name" value="{{lead.Name}}">
                                </div>
                                <div class="form-input">
                                    <label for="number">Mobile Number</label>
                                    <input type="text" id="number" name="Contact_Number" value="{{lead.Mobile_Number}}">
                                </div>
                                <div class="form-input">
                                    <label for="b-name">Business Name</label>
                                    <input type="text" id="b-name" name="Business_name" value="{{lead.Business_Name}}">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="b-type">Business Type</label>
                                    <input type="text" id="b-type" name="Bussiness_types" value="{{lead.Business_Type}}">
                                </div>
                                <div class="form-input">
                                    <label for="location">Location</label>
                                    <input type="text" id="location" name="Location"value="{{lead.Location}}">
                                </div>
                                <div class="form-input">
                                    <label for="Budget">Budget</label>
                                    <input type="text" id="Budget" name="Budget" value="{{lead.Budget}}">
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="fudate">Follow Up Date</label>
                                    <input type="date" id="fudate" name="Followupdate" value="{{ lead.Follow_up_date|date:'Y-m-d' }}">
                                </div>
                                <div class="form-input">
                                    <label for="cars">Priority</label>
                                    <select name="Priority" id="cars">
                                        <option value="High" {% if lead.Priority == "High" %}selected{% endif %}>High</option>
                                        <option value="Mediom" {% if lead.Priority == "Mediom" %}selected{% endif %}>Mediom</option>
                                        <option value="Low" {% if lead.Priority == "Low" %}selected{% endif %}>Low</option>
                                    </select>
                                </div>
                                
                                <div class="form-input">
                                    <label for="cars">Status</label>

                                    <select name="Status" id="Status">
                                    <option value="Fresh" {% if lead.Status == "Fresh" %} selected{% endif %}>Fresh</option>
                                    <option value="Call back" {% if lead.Status == "Call back" %} selected{% endif %}>Call back</option>
                                    <option value="DND" {% if lead.Status == "DND" %} selected{% endif %}>DND</option>
                                    <option value="Follow Up" {% if lead.Status == "Follow Up" %} selected{% endif %}>Follow Up</option>
                                    <option value="Proposed" {% if lead.Status == "Proposed" %} selected{% endif %}>Proposed</option>
                                    <option value="Moved" {% if lead.Status == "Moved" %} selected{% endif %}>Moved</option>
                                    <option value="Hold" {% if lead.Status == "Hold" %} selected{% endif %}>Hold</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-details">
                                <div class="form-input">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="Email_id" value="{{lead.Email}}">
                                </div>
                                
                                <div class="form-input">
                                    <label for="cars">Source</label>

                                    <select id="Source" name="Source">
                                        <option {% if lead.Source == "Social Media" %} selected{% endif %}>Social Media</option>
                                        <option {% if lead.Source == "Walk In" %} selected{% endif %}>Walk In</option>
                                        <option {% if lead.Source == "Reference" %} selected{% endif %}>Reference</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-detail">
                                <div class="form-input">
                                    <label for="Name">Services</label>
                                    <div style="margin-top: 20px;">
                                        <input {% if "Website Development" in lead.Services %} checked {% endif %} type="checkbox" id="value11" name="service" value="Website Development">
                                        <label class="label" for="value11">Website Development</label><br>
                                        <input {% if "CRM" in lead.Services %} checked {% endif %} type="checkbox" id="value12" name="service" value="CRM">
                                        <label class="label" for="value12">CRM</label><br>
                                        <input {% if "Social Media Management" in lead.Services %} checked {% endif %} type="checkbox" id="value13" name="service" value="Social Media Management">
                                        <label class="label" for="value13">Social Media Management</label><br>
                                        <input {% if "Branding" in lead.Services %} checked {% endif %} type="checkbox" id="value14" name="service" value="Branding">
                                        <label class="label" for="value14">Branding</label><br>
                                        <input {% if "Digital Marketing" in lead.Services %} checked {% endif %} type="checkbox" id="value15" name="service" value="Digital Marketing">
                                        <label class="label" for="value15">Digital Marketing</label><br>
                                        <input {% if "Yet to Confirm" in lead.Services %} checked {% endif %} type="checkbox" id="value16" name="service" value="Yet to Confirm">
                                        <label class="label" for="value16">Yet to Confirm</label><br>
                                    </div>
                                </div>                                 
                                <div class="form-input">
                                    <label for="Name">Remark</label>
                                    <textarea name="Source_Remarks" id="" cols="30" rows="7">{{lead.Remark}}</textarea>
                                </div>
                                <div class="form-input">
                                    <input type="submit" value="UPDATE">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

